---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
sitemapExclude: true
eleventyComputed:
  title: "{{ i18n['zh-TW'].notFoundTitle }}"
---

<div class="not-found">
  <p class="not-found__mark" aria-hidden="true">🍞🔥</p>
  <p>{{ i18n["zh-TW"].notFoundBody }}</p>
  <p><a href="{{ '/' | url }}">{{ i18n["zh-TW"].notFoundHome }}</a></p>
</div>
