---
title: ErrorBaker 技術共筆部落格
layout: layouts/home.njk
description: 錯誤烘焙師的技術共筆——把踩過的坑，烘成熱騰騰的技術麵包
image: /img/ogimage.png
date: Last Modified
lang: zh-TW
permalink: /
translationKey: home
---

<section class="intro">
<p>
  {{ i18n['zh-TW'].intro }}
</p>
<p>
  {{ i18n['zh-TW'].intro2 }}
</p>
{%- set sfTopics = collections.topicMap %}
{%- set sfTags = i18n['zh-TW'].tags %}
{% include "signature-flavors.njk" %}
</section>
<section class="posts">
  {% set postslist = collections.postsZhTW | reverse | head(8) %}
  {% include "home-postslist.njk" %}
</section>

<p class="view-all"><a href="{{ '/archive/' | url }}">{{ i18n['zh-TW'].allPosts }} &rarr;</a></p>
