---
title: ErrorBaker 技術共筆部落格
layout: layouts/home.njk
description: 從錯誤中學習，從寫作中成長
image:  /img/ogimage.png
date: Last Modified
---

<section class="intro">
<p>
  Hi，這是 ErrorBaker 技術共筆部落格，由一群希望藉由共筆部落格督促自己寫文章的人們組成。
</p>
<p>
  部落格的主題以 web 前後端主題居多，但其實只要是跟技術有關的主題都有可能出現。
</p>
</section>
<section class="posts">
  {% set postslist = collections.posts %}
  {% include "home-postslist.njk" %}
</section>