---
title: ErrorBaker 技術共筆部落格
layout: layouts/home.njk
description: 錯誤烘焙師的技術共筆——把踩過的坑，烤成熱騰騰的文章
image: /img/ogimage.png
date: Last Modified
lang: zh-TW
permalink: /
translationKey: home
---

<section class="intro">
<p>
  Hi，這裡是 ErrorBaker —— 我們以共筆互相督促，把踩過的坑，烘成熱騰騰的文章。
</p>
<p>
  口味以 Web 前後端居多，只要跟技術有關，都可能在這裡出爐。
</p>
</section>
<section class="posts">
  {% set postslist = collections.postsZhTW | reverse | head(8) %}
  {% include "home-postslist.njk" %}
</section>

<p class="view-all"><a href="{{ '/archive/' | url }}">{{ i18n['zh-TW'].allPosts }} &rarr;</a></p>