---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set indexable = collections.all | indexablePages %}
{%- for page in indexable %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
  {% set pageDate = page.date | sitemapDateTimeString %}
  {% set lastModifiedDate = page.inputPath | lastModifiedDate  | sitemapDateTimeString %}
  {% set lastmod = pageDate %}
  {% if lastModifiedDate > lastmod %}
    {% set lastmod = lastModifiedDate %}
  {% endif %}
  <url>
    <loc>{{ absoluteUrl | safe }}</loc>
    {%- if lastmod %}
    <lastmod>{{ lastmod }}</lastmod>
    {%- endif %}
  </url>
{%- endfor %}
{%- set activeLangs = collections.siteLangsWithPublishedPosts %}
{%- set homePages = activeLangs | homeVersions %}
{%- set aboutPages = activeLangs | aboutVersions %}
{%- set missingPages = indexable | missingSitemapPages(homePages, aboutPages) %}
{%- for page in missingPages %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
  {% set pageDate = page.date | sitemapDateTimeString %}
  {% set lastModifiedDate = page.inputPath | lastModifiedDate  | sitemapDateTimeString %}
  {% set lastmod = pageDate %}
  {% if lastModifiedDate > lastmod %}
    {% set lastmod = lastModifiedDate %}
  {% endif %}
  <url>
    <loc>{{ absoluteUrl | safe }}</loc>
    {%- if lastmod %}
    <lastmod>{{ lastmod }}</lastmod>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
