---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - postsZhTW
    - siteLangsWithPublishedPosts
    - translations
    - authorsByPostCount
    - authorLangPages
    - aiCrawlRules
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

{% set postslist = collections[ tag ] | filterByLang('zh-TW') | sortByPublishedDate | reverse %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
