---
permalink: /tags/
layout: layouts/home.njk
title: 口味｜文章標籤
eleventyNavigation:
  key: Tags
  order: 2
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <h2><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></h2>
  {% set postslist = collections[tag] | filterByLang('zh-TW') | reverse %}
  {% include "postslist.njk" %}
{% endfor %}
