---
permalink: /tags/
layout: layouts/home.njk
title: 口味地圖
translationKey: tags
eleventyNavigation:
  key: Tags
  order: 2
---

{% set topicMap = collections.topicMap %}
{% set tt = i18n['zh-TW'].tags %}
{% include "topic-map.njk" %}
