---
permalink: /feed/feed.xml
eleventyExcludeFromCollections: true
---
{%- set feedLang = 'zh-TW' %}
{%- set feedPosts = collections.postsZhTW | sortFeedPosts(metadata.feed.limit) %}
{%- set feedTitle = i18n[feedLang].siteName %}
{%- set feedDescription = i18n[feedLang].intro %}
{%- set feedSelfUrl = metadata.feed.path | url | absoluteUrl(metadata.url) %}
{%- set feedHomeUrl = '/' | url | absoluteUrl(metadata.url) %}
{%- set feedId = metadata.feed.id %}
{%- set feedAnalytics = true %}
{%- include "feeds/atom.njk" %}
