---
permalink: "{{ metadata.jsonfeed.path | url }}"
eleventyExcludeFromCollections: true
---
{%- set feedLang = 'zh-TW' %}
{%- set feedPosts = collections.postsZhTW | sortFeedPosts(metadata.feed.limit) %}
{%- set feedTitle = i18n[feedLang].siteName %}
{%- set feedDescription = i18n[feedLang].intro %}
{%- set feedSelfUrl = metadata.jsonfeed.path | url | absoluteUrl(metadata.url) %}
{%- set feedHomeUrl = '/' | url | absoluteUrl(metadata.url) %}
{%- include "feeds/json.njk" %}
