{% for post in postslist %}
  {% set author = metadata.authors[post.data.author] %}
<article class="post{% if loop.first %} post--lead{% endif %}">
  {% if post.data.image %}
  <a class="post-cover" href="{{ post.url | url }}" tabindex="-1" aria-hidden="true">
    <img src="{{ post.data.image }}" class="post-cover-img" alt="" loading="lazy" />
  </a>
  {% endif %}
  <div class="post-body">
    <h2 class="post-title"><a href="{{ post.url | url }}">{{ post.data.title | safe }}</a></h2>
    {% summary post=post.templateContent %}
    <div class="post-info">
      <a href="/posts/{{ post.data.author }}" class="author-link">
        <img src="{{ author.avatarUrl }}" class="avatar-small" alt="" />
        <span class="post-author">{{ author.name }}</span>
      </a>
      <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
    </div>
  </div>
</article>
{% endfor %}
