---
layout: layouts/home.njk
title: Cian
eleventyExcludeFromCollections: true
---

<p>嗨，我是 Cian。</p>
<p>前一年在後端掙扎求生，最近終於轉組回來專注前端。<br/>
時隔一年寫前端感到自己菜到不能再菜，希望這些油亮的筆記可以慢慢給自己累積一些信心。</p>
<p>更多零碎的筆記放在我的<a href="https://keronscribe.tw/" target="_blank">個人部落格</a>，有興趣歡迎點過去看看。</p>

<h2>List</h2>

{% set postslist = collections.posts %}
{% set author = 'Cian' %}
{% include "author-postslist.njk" %}
