---
layout: layouts/home.njk
title: Ruofan
eleventyExcludeFromCollections: true
---
<p>嗨，我是 ruofan</p>
<p>前端工程師，如果對於我的個人經歷有興趣，可以透過 <a href="https://github.com/ruofanwei" target="_blank">Github</a> 了解更多。</p>


<h2>文章列表</h2>

{% set postslist = collections.posts %}
{% set author = 'Ruofan' %}
{% include "author-postslist.njk" %}
