---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}

{% set postAuthor = metadata.authors[author] %}
{% set pageLang = lang or 'zh-TW' %}
{% set t = i18n[pageLang] or i18n['zh-TW'] %}

{% block extraArticleHeader %}
  <div class="byline">
    <a class="byline-author" href="/posts/{{ author }}">
      <img class="avatar" src="{{ postAuthor.avatarUrl }}" alt="" />
      <span>{{ postAuthor.name }}</span>
    </a>
    <time class="byline-date" datetime="{{ date | htmlDateString }}">{{ t.publishedOn }} {{ date | htmlDateString }}</time>
    <span class="byline-tags">
    {%- for tag in tags %}{% if tag !== "posts" %}{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}<a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>{% endif %}{% endfor %}
    </span>
  </div>
{% endblock %}


{% set shareUrl = metadata.url + page.url %}

{% block article %}

{{ content | safe }}

<hr>
<section class="author-bio">
  <h2>{{ t.aboutAuthor }}</h2>
  <div class="flex items-center">
    <img class="avatar avatar-large" src="{{ postAuthor.avatarUrl }}" alt="">
    <h3 style="margin-left: 12px;"><a href="/posts/{{ author }}">{{ postAuthor.name }}</a></h3>
  </div>
  {% set authorIntro = postAuthor['intro_' + pageLang] or postAuthor.intro %}
  <div class="author-intro">{{ authorIntro | safe }}</div>
</section>

<p>
  <a href="{{ shareUrl | safe }}" on-click="share">{{ t.shareArticle }}</a>
</p>

<script
  src="https://utteranc.es/client.js"
  repo="Lidemy/error-baker-blog"
  issue-term="title"
  label="utterancex"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ title | dump | safe }},
  "inLanguage": "{{ pageLang }}",
  "image": ["{{ image | absoluteUrl(metadata.url) if image else metadata.ogimage }}"],
  "author": {
    "@type": "Person",
    "name": {{ postAuthor.name | dump | safe }},
    "url": "{{ metadata.url }}/posts/{{ author }}"
  },
  "genre": "{{ metadata.genre }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": {{ content | striptags | truncate(140) | dump | safe }}
}
</script>

{% endblock %}

{% block aside %}
  <nav class="toc" id="toc" aria-label="{{ t.toc or '目錄' }}">
    <details class="toc-details" open>
      <summary class="toc-title">{{ t.toc or '目錄' }}</summary>
      <ul class="toc-list"></ul>
    </details>
  </nav>
{% endblock %}
