---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}

{% set postAuthor = metadata.authors[author] %}

{% block extraArticleHeader %}
   {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = (wc / 240) + 1 %}
   <aside>
     {{ wPerMinute | round }} min read.
   </aside>
   Posted by {{ postAuthor.name }} on {{ date | htmlDateString }}
   <img class="test123" src="{{ postAuthor.avatarUrl }}">
{% endblock %}


{% set shareUrl = metadata.url + page.url %}

{% block article %}

{{ content | safe }}

<hr>
<img class="test123" src="{{ postAuthor.avatarUrl }}">
<h4>{{ postAuthor.name }}</h4>
<p>{{ postAuthor.intro }}</p>
<p>
  <a href="{{ shareUrl | safe }}" on-click="share">點我分享此文章</a>

  For feedback, please 
  <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">ping me on Twitter.</a>
</p>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
