---
layout: layouts/home.njk
title: minw 
eleventyExcludeFromCollections: true
---

<h2>關於我</h2>

<p>嗨，我是 min</p>
<p>UX 背景的前端工程師，熱衷於設計與工程之間的有趣東西。希望可以跟著一群人一起不怠惰的技術寫作 QQ 而加入了 Error Baker。
過去零碎的嘗試了一些技術紀錄，有興趣可以參考我平時的 <a href="https://minw.blog/" target="_blank">技術紀錄部落格</a>。</p>

<h2>文章列表</h2>

{% set postslist = collections.posts %}
{% set author = 'minw' %}
{% include "author-postslist.njk" %}
